* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  width: 100%;
  height: 100vh;
  background-color: gray;
  display: flex;
  flex-direction: column;
}

.menu {
  background: green;
  height: 5rem;
}

.content {
  background: lightseagreen;
  flex: 1;
}

.content .box {
  width: 20%;
  border: 1px solid black;
  height: 50%;
}

.content .box .messages {
  background-color: white;
  height: 80%;
  overflow-y: auto;
}